/***************************TAG SELECTORS***************************/

h1 {
  color: #ec524b;
  font-size: 50px;
}
p {
  color: #f9813a;
  font-size: 15px;
}


img:hover {
  background-color: gold;
}



/***************************CLASS SELECTORS***************************/

.bacon {
  background-color: green;
}
.broccoli {
  background-color: red;
}
.circular {
  border-radius: 100%;
}

/***************************ID SELECTORS***************************/

#heading {
  color: blue;
}
